* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

html {
  font-size:62.5%;
}
/* Header */
.herder{
display: flex;
background-color: #222;
height: 48px;
}
.admin{
display: flex;
align-items: center;
padding-left: 20px;
height: 100%;
width:15%;
}
.admin > h1 {
color: #fff;
font-weight: 500;
letter-spacing:1px; 
}
.admin > ion-icon {
  color: #fff;
  font-size: 18px;
  margin-right: 5px;
}
.option{
display: flex;
align-items: center;
}
.option-list{
  display: flex;
  align-items: center;
  list-style: none;
  height:100%;
}
.option-item {
  /* margin-left: 20px; */
  min-width: 150px;
  text-align: center;
  border-left: 1px solid #777;
  height:100%;
  line-height: 48px;
  cursor: pointer;
}
.option-item > a{
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
}
.option-item-first {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.option-item-first > ion-icon {
  display:inline-block;
  font-size: 14px;
  color: #fff;
  margin-right: -20px;
}

/* Main */

.content{
  display: flex;

}
.content-left{
width:15%;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.content-left > ul {
  list-style: none;
}

.content-left > ul > li {
  border-bottom: 1px solid #e3e3e3;
  padding-left: 20px;
  display:flex;
  align-items: center;
  justify-content: content;
}
.content-left > ul > li > ion-icon {
  font-size: 14px;
}
.content-left > ul > li > a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 0;
  color: #333;
  font-size: 14px;
  margin-left: 5px;
}
.category {
  display: flex;
  align-items: center;
  color: #3D6EF7;
  font-weight: bold;
}
#category {
  color: #3D6EF7;
}
.category-icon {
  display: inline-block;
  margin-left: 10px;
}

#product {
  color: #3D6EF7;
}
#product > a {
  color: #3D6EF7;
}
.content-right{
  flex: 1;
}
.content-right-header > ul {
  list-style: none;
  display:flex;
  height: 38px;
  align-items: center;
  margin-left: -13px;
  border-bottom: 1px  solid #e3e3e3;
}
.content-right-header  ul  li{
  display:flex;
  align-items: center;
  margin-left: 20px;
}

.content-right-header  ul  li  a{
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #3D6EF7;

  
}
.content-right-header  ul  li ion-icon {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #888;
  margin-left: 5px;
  transform: translateY(1px);
}

/* feature */
.feature {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: -50px;
}
.feature span {
  font-size: 14px;
  display: inline-block;
  display: flex;
  align-items: center;
  color: #555;
  cursor: pointer;
  border: 1px solid #858585;
  padding: 5px;
  border-radius: 5px;
}  
.feature input {
  outline: none;
  border: 1px solid #858585;
  border-radius: 5px;
  padding: 5px;
}
.feature span ion-icon {
  margin-left: 5px;
  font-size: 10px;
}
.feature .feature-add {
  padding: 8px 15px;
  background-color: #3D6EF7;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.feature .feature-add ion-icon {
  font-size: 14px;
  font-weight: bold;
  transform:translateY(2px)
}
.table-product {
  margin-left: 14px;
  margin-top: 37px;
  margin-bottom: 50px;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #858585;
  font-size: 14px;
}

.pl10 {
  padding-left: 10px;
}
.edit {
  color:red;
  font-size: 20px;
  display:flex;
  justify-content:space-around;
}
.edit ion-icon {
  cursor: pointer;
}